.pj-map-detail.ui.card {
  position : absolute;
  right: 12px;
  top: 12px;
  padding: 12px;
  min-height: 200px;
  margin-bottom: 200px;
  width: 320px;

  border-width: 2px;
  box-shadow: 0 0 0 1px $secondaryColor  ,2px 3px 0px 0px $lightPrimaryColor,3px 3px 3px 0 $secondaryColor;

  &:hover {
    box-shadow: 0 0 0 1px $secondaryColor  ,2px 3px 0px 0px $lightPrimaryColor,3px 1px 3px 0 $secondaryColor;
  }
}
