.pj-map-detail.ui.card.jobs-selected {
  display: flex;
  flex-direction: column;
  margin-left: 250px;

  .ui.top {
    .material-icons {
      height: 18px;
      font-size: 19px;
      display: inline-block;
      color: $headerColor;
      margin-right: 13.5px;
      opacity: 1;
      margin-top: 1px;
    }
  }
  .meta {
    margin-bottom: 22px;
  }

  .offer-body {
    height: 200px;
    overflow: hidden;
  }

  .offers-page {
    display: flex;

    .pagination {
      margin: auto;
    }
  }

  .offer-desc-expand {
    float: right;
    margin-right: 32px;
    border: none;
    box-shadow: none;
    background: none;
    &:hover {
      border: none;
      background: none;
    }
  }
}
@media screen and (min-width: $screen-medium)  {
  .pj-map-detail.ui.card.jobs-selected {
    width: 425px;
  }
}
@media screen and (min-width: $screen-large)  {
  .pj-map-detail.ui.card.jobs-selected {
    width: 50%;
    max-width: 500px;
  }
}
