$shadow-color-1: rgba(0, 0, 0, .14);
$shadow-color-2: rgba(0, 0, 0, .12);
$shadow-color-3: rgba(0, 0, 0, .4);


@mixin paper-shadow() {
  box-shadow: 0 4px 5px 0 $shadow-color-1, 0 1px 10px 0 $shadow-color-2, 0 2px 4px -1px $shadow-color-3;
}

@mixin emphasize-shadow() {
  box-shadow: 0 0 0 1px $secondaryColor  ,2px 3px 0px 0px $lightPrimaryColor,3px 3px 3px 0 $secondaryColor;
}
