$offer-log-margin : 32px;

.pj-offers-logbook-ctn{
  height : 100%;
  position: relative;

  .log-save-cv.item {
    margin-left: $offer-log-margin;
    .ui.card {
      width: 150px;
      color: $secondaryColor;
      border-color: $secondaryColor;
    }
  }
  .log-child.item {
    margin-left: $offer-log-margin;
  }

  .log-backs-list.ui.relaxed.divided.list {
    border: 1px solid $lightSecondaryColor;
    width: 100%;
    margin-right: 64px;
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
    color: darken($secondaryColor, 25%);

    .item {
      height: 42px;
      padding-left: 12px;
      padding-right: 6px;

      .content {
        position: relative;
        .desc {
          position: absolute;
          top: 4px;
        }
      }


      .butt-options {
        display: none;
      }

      &:hover {
        background-color: $lightPrimaryColor;
        cursor: pointer;

        .butt-options {
          display: inherit;
        }
      }
    }
  }

  .log-notes-list{
    border: 1px solid $lightSecondaryColor;
    width: 100%;
    margin-right: 64px;
    height: 200px;
    font-family: $pageFont;
    padding: 6px;
    color: darken($secondaryColor, 25%);
  }

  .withButton {
    .ui.input{
      margin-top: 4px;
    }
    .ui.button {
      padding : 0.3em;
      margin-left: 16px;
      box-shadow: none;
    }
  }



}
