.ui.fixed.menu+.page-map.ui.grid {
  padding-top: $clear-margin;
}
.page-map.ui.grid {
  height: 100%;
  width: 100%;
  padding: $clear-padding;
  margin: $clear-margin;
  padding-left: 208px;

  .map {
    height: 100%;
    width: 100%;
    background-color: $pageBackground;
  }
}
