<!-- menu -->
<div class="ui left fixed vertical menu">
  <div class="pj-header item">
    <img class="logo" src="/images/logo.png" />
    <h2>ProxiJobs</h2>
  </div>
  <a class="item"  routerLink="/map" [class.active]="router.isActive('/map', true) || router.isActive('', true)">
    <i class="map icon"></i> Ma carte
  </a>
  <a class="item" routerLink="/search" routerLinkActive='active'>
    <i class="search icon"></i> Mes recherches
  </a>
  <a class="item" routerLink="/offers" routerLinkActive='active'>
    <i class="ticket icon"></i> Mes offres
  </a>
</div>
<div class="content-app">
  <router-outlet></router-outlet>
</div>

<pj-toaster></pj-toaster>
