<div class="pj-map-detail jobs-selected ui teal card transition hidden">
  <div class="ui top big attached label" *ngIf="offers.length > 1">
    <i class="material-icons">work</i> {{offers.length}} offres sélectionnées
    <button class="circular ui icon button exit" (click)="onReduce()">
          <i class="icon expand"></i>
        </button>
  </div>
  <div class="ui top big attached label" *ngIf="offers.length == 1">
    <i class="material-icons">work</i> Offre sélectionnée
    <button class="circular ui icon button exit" (click)="onReduce()">
          <i class="icon expand"></i>
        </button>
  </div>

  <div class="ui top big attached label" *ngIf="offers.length < 1">
    <i class="material-icons">work</i> Aucune offre sélectionnée
    <button class="circular ui icon button exit" (click)="onReduce()">
          <i class="icon expand"></i>
        </button>
  </div>


  <div class="content">
    <div *ngIf="selectedOffer">
      <h3>{{selectedOffer.jobtitle}}</h3>
    </div>
    <div *ngIf="!selectedOffer">
      Faites une recherche ou sélectionnez une offre sur la carte.
    </div>
  </div>

  <div class="extra content" *ngIf="offers.length > 1">
    <div class="ui three column grid">
      <div class="column">
        <button class="ui left floated button">Previous</button>
      </div>
      <div class="column">
        <div class="content">{{selectedIndex + 1}} sur {{offers.length}}</div>
      </div>
      <div class="column">
        <button class="ui right floated button">Next</button></div>
    </div>
  </div>
</div>
