<div class="content">
  <div class="ui top attached label"><i class="search icon"></i> Recherche rapide </div>


  <div class="content">

    <form class="ui form pj-quick-search-form">
      <div class="field">
        <label>Emploi</label>
        <input type="text" name="kind" placeholder="métier, mots-clés ou entreprise">
      </div>

      <div class="field">
        <label>Ville</label>

        <div class="action ui input">
          <input type="text" name="city" placeholder="ville, département, code postal">
          <button class="ui icon button" title="Ma position actuelle">
            <i class="marker icon"></i>
          </button>
        </div>
      </div>

      <div class="field">
        <label>Rayon</label>
        <input type="text" name="distance" placeholder="temps de trajet, ou kilomètres">
      </div>

      <div class="extra content">
          <div class="ui error message"></div>
        <div class="ui divider"></div>
        <button class="ui button" type="submit" (click)="loadJobs()">Rechercher</button>
      </div>
    </form>

  </div>
</div>
