<div class="pj-search-favorites">
  <h2>Favories <i class="small star icon"></i></h2>

  <div class="ui divider"></div>

  <div class="pj-search-list-ctn">

    <div class="pj-search-list ui relaxed divided list">
      <!-- Une recherche -->
      <div class="item" *ngFor="let search of favorites" (click)="onSelectWidget(search)" [class.selected]="search === selectedSearch">
        <pj-search-adv-widget [search]=search [deletable]=true (onDeleteClick)="onDeleteFavorite(search)"></pj-search-adv-widget>
      </div>

    </div>
  </div>
</div>
