<div class="page-search ui grid">
  <div class="row">
    <div class="pj-search-adv-ctn ten wide column">

      <pj-search-advanced
        (onAddingToFavorites)="onAddingToFavorites($event)"
        (onRemoveFromFavorites)="onRemoveFromFavorites($event)"
      ></pj-search-advanced>

    </div>
    <div class="pj-search-hist-ctn six wide column">
      <div class="pj-search-hist-ctn">

        <pj-search-favorites (onSelect)="onSelectFavoriteSearch($event)" (onDelete)="onDeleteFavoriteSearch($event)"></pj-search-favorites>

        <pj-search-recents (onSelect)="onSelectRecentSearch($event)"></pj-search-recents>
      </div>
    </div>
  </div>
</div>
