/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/
@globalTheme : 'default';

/* Global */
@site       : @globalTheme;
@reset      : @globalTheme;

/* Elements */
@button     : @globalTheme;
@container  : @globalTheme;
@divider    : @globalTheme;
@flag       : @globalTheme;
@header     : @globalTheme;
@icon       : @globalTheme;
@image      : @globalTheme;
@input      : @globalTheme;
@label      : @globalTheme;
@list       : @globalTheme;
@loader     : @globalTheme;
@rail       : @globalTheme;
@reveal     : @globalTheme;
@segment    : @globalTheme;
@step       : @globalTheme;

/* Collections */
@breadcrumb : @globalTheme;
@form       : @globalTheme;
@grid       : @globalTheme;
@menu       : @globalTheme;
@message    : @globalTheme;
@table      : @globalTheme;

/* Modules */
@accordion  : @globalTheme;
@checkbox   : @globalTheme;
@dimmer     : @globalTheme;
@dropdown   : @globalTheme;
@embed      : @globalTheme;
@modal      : @globalTheme;
@nag        : @globalTheme;
@popup      : @globalTheme;
@progress   : @globalTheme;
@rating     : @globalTheme;
@search     : @globalTheme;
@shape      : @globalTheme;
@sidebar    : @globalTheme;
@sticky     : @globalTheme;
@tab        : @globalTheme;
@transition : @globalTheme;

/* Views */
@ad         : @globalTheme;
@card       : @globalTheme;
@comment    : @globalTheme;
@feed       : @globalTheme;
@item       : @globalTheme;
@statistic  : @globalTheme;

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */